*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;   
    transition: .2s linear;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
    background-color: #453653;
}

#navbar ul { 
    margin: 0; 
    padding: 5px; 
    list-style: none;
    text-align: center; 
    background-color: #000; 
} 

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    text-align: right;
}

nav ul li a{
    color: #C7AFC8;
    text-decoration: none;
    position: relative;
}

nav ul li a::after{
    content: ' ';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #C7AFC8;
    transition: width 0.3s ;
}

nav ul li a:hover:after{
    width: 50%;
}

.logo{
    width: 80px;
    cursor: pointer;
    margin-right: auto;
}

.bag-heart {
    width: 25px;
    cursor: pointer;
}
body{
    font-family: 'Abril Fatface', cursive;
    background: #C7AFC8;
}

p {
    margin: 20px 0 50px 0;
    line-height: 25px;
    font-family: 'Nixie One', cursive;
}

#navbar ul { 
    margin: 0; 
    padding: 5px; 
    list-style-type: none; 
    text-align: center; 
    background-color: #000; 
    } 

#navbar ul li {  
    display: inline; 
    } 

#navbar ul li a { 
    text-decoration: none; 
    padding: .2em 1em; 
    color: #fff; 
    background-color: #000; 
    } 

#navbar ul li a:hover { 
    color: #000; 
    background-color: #fff; 
    } 

.container{
    max-width: 75%;
    margin: auto;
    height: 90vh;
    margin-top: 5%;
    background-color: white;
    box-shadow: 5px 5px 10px 3px rgba(32, 52, 34, 0);

}
.left, .right{
    width: 50%;
    padding: 30px;
}

.flex{
    display:flex;
    justify-content: space-between;
}

.flex1 {
    display: flex;
}

.main_image{
    width: auto;
    height: auto;
}

.option img{
    width: 651px;
    height: 500px;
    padding: 10px;
}

.right{
    padding: 50px 100px 50px 50px;
}


h3{
    color:#C7AFC8;
margin: 20px 0 20px 0
font-size:25px;
}

h5,p,small {
    color:#837d7c;
}

h4 {
    color:red;
}

p {
    margin: 20px 0 50px 0;
    line-height: 25px;
    font-family: 'Nixie One', cursive;
}

h5{
    font-size:15px;
}

label,
.add span,
.color span {
    width: 25px;
    height: 25px;
    background-color:#C7AFC8;
    border-radius:50%;
    margin: 30px 10px 30px 0px;
}

.color span:nth-child(2) {
    background-color: #ededed;
}

.add label,
.add span{
    background: none;
    border: 1px solid #C7AFC8;
    color:#C7AFC8;
    text-align:25px;
    line-height: 25px;
    text-align: center
}

.add label{
    padding: 10px 30px 0 20px;
    border-radius: 50px;
    line-height: 0;
}

button{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #C7AFC8;
    color: white;
    margin-top: 20%;
    border-radius: 30%;
}